.track-page {
  min-height: 100vh;
  background: #121212;
  color: white;
}

.main-container {
  display: flex;
  height: calc(100vh - 160px);
  overflow: hidden;
}

.track-container {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  margin: 0 20px;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  transition: scrollbar-color 0.3s ease;
}

.track-container:hover {
  scrollbar-color: #555555 #121212;
}

.track-container::-webkit-scrollbar {
  width: 8px;
}

.track-container::-webkit-scrollbar-track {
  background: transparent;
}

.track-container::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 4px;
  transition: background-color 0.4s ease;
}

.track-container:hover::-webkit-scrollbar-thumb {
  background-color: #555555;
}

.track-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.track-cover {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-bottom: 20px;
}

.track-info {
  text-align: center;
  margin-bottom: 20px;
}

.track-info h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.artists {
  font-size: 1.2rem;
  color: #b3b3b3;
  margin-bottom: 5px;
}

.album {
  font-size: 1rem;
  color: #b3b3b3;
}

.rightbar-container {
  width: 30%;
	background-color: #1c1c1c;
	scrollbar-width: thin;
	padding: 10px;
	height: calc(100vh - 80px - 130px);
	border-radius: 10px;
	position: sticky;
	top: 20px;
	overflow-y: auto;
	border-radius: 10px;
}

.rightbar-container,
.search-results-container,
.sidebar.open {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  transition: scrollbar-color 0.3s ease;
}

.rightbar-container:hover,
.search-results-container:hover,
.sidebar.open:hover {
  scrollbar-color: #555555 #121212;
}

.rightbar-container::-webkit-scrollbar,
.search-results-container::-webkit-scrollbar,
.sidebar.open::-webkit-scrollbar {
  width: 8px;
}

.rightbar-container::-webkit-scrollbar-track,
.search-results-container::-webkit-scrollbar-track,
.sidebar.open::-webkit-scrollbar-track {
  background: transparent;
}

.rightbar-container::-webkit-scrollbar-thumb,
.search-results-container::-webkit-scrollbar-thumb,
.sidebar.open::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.rightbar-container:hover::-webkit-scrollbar-thumb,
.search-results-container:hover::-webkit-scrollbar-thumb,
.sidebar.open:hover::-webkit-scrollbar-thumb {
  background-color: #555555;
}